body{
    background-color: burlywood;
    display:flex;
    flex-direction: column;
    font-family: 'Akaya Telivigala', cursive;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 0 0 0;
    z-index: 5;
    
}
.BANNER{
    
    
    font-size: 35px;
    display: flex;
    top:0;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
    color: cadetblue;
   
    
}

#logo >img{
    display: flex;
    max-width: 63px;
    max-height: 50px;
    border-radius: 30px;
}

.BANNER>#slogan{
    display: center;
}

#slogan>a{
    color:aquamarine;
    text-decoration: none;
}

#buscarProv{
    background-color: black;
    color: cadetblue;
    font-family: 'Akaya Telivigala';
    border-radius: 30%;
}

#buscarProv:hover{
    border-color: aliceblue;
}

#buscarProv:hover + #listaProvincias {
    display:flex;
}

#listaProvincias:hover{
    display:flex;
}

#listaProvincias{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color:antiquewhite;
    text-decoration: none;
    border-radius: 40%;
   
    
}

#listaProvincias>ul{
    list-style: none;
    text-decoration: none;
    color: cadetblue;
}

#listaProvincias>ul>li>a{
    
    text-decoration: none;
    color: cadetblue;
}



#formulario{
    display:none;
    background-color: blanchedalmond;
    position:sticky;
    bottom: 4%;
    left:0;
    height: 400px;
    width: 300px;
    
}

#formulario>#Sugerencia{
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}



.carrusel{
    display:flex;

}

.control{
   
    position: absolute;
    width: 50px;
    height: 50px;
    left:0;
    z-index: 3;
    
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    padding: 10px;
}

.controlDer{
    display:flex;
    position: sticky;
    width: 50px;
    height: 50px;
    left:0;
    
    background-color:black;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    padding: 10px;
    right: 0;
    rotate: 198grad;
}


#textAreaDatos{
    resize: none;
    overflow: auto;
}

#parrafoConImagen{
    display: flex;
}


#buscador{
    right:0;
    font-size: 36px;
    size: 37px;
    

}

#form{
    display: block;
    border: 1px solid cadetblue;
    bottom: 15px;
}

.datosPaisaje{
    margin-top: 100px;
}

.datosPaisaje>img{
    height: 280px;
    width: 200px;
}



#labelbuscar{
    font-size: large;
    margin:0;
}

footer {
    background-color: black;
    display: flex;
    position:fixed;
    bottom: 0;
    width: 99%;
    height: 40px;
    color:cadetblue;
    
    align-items: center;
    
}

footer>#BTNcontanos{
    display: flex;
    background-color: black;
    border-color:cadetblue;
    color:aqua;
    margin-left: 10px;
}





.fotosCarrusel{
    
    display:flex;
    position:sticky;
    left: 0;
    

    width: 100%;
   
    overflow-x:hidden;
    scroll-behavior: smooth;
    
    
}

.fotosCarrusel>a>img{
  
    
    height:183px;
    width:283px;
    border-radius: 15%;
    margin-right: 100px;


}

.BTNizq{
    height: 100%;
    width: 10%;
}
#rutas{
    
    width: 100%;
    
    column-count: 3;
    overflow: hidden;
    margin-bottom: 100px;
    width: 100%;
    
}

#rutas>a{
    margin: 10px;
    

}

#SUGERENCIARUTAS{
    background-color:rgb(119, 77, 0);
    text-align: center;
    font-size: 30px;
    color:cornflowerblue;
    align-items: center;
    
}

#SUGERENCIARUTAS>img{
    border-radius: 50%;
    
    
}

#rutas>a>img{
    padding: 10%;
    margin: 15%;
    height:183px;
    width:283px;
    
}

.carruselArray{
    display:flex;
    
}

.carruselArray>img{
    display:none;
    z-index: -1;
    width: 300px;
    height: 300px;
    
}

.carruselArray>#fotoMostrada{
    display:flex;
    width: 300px;
    height: 300px;
}

.carruselArray>p{
    color: aliceblue;
    background-color: grey;
    opacity: 0.80;
    width: 300px;
    height: 30px;
    position:absolute;
}


